<h1>Add ingredients</h1>

<div class="add_food_table">
  <div class="title_columns">
    <h3>Food</h3>
    <h3>Measurement Unit</h3>
    <h3>Unit Price</h3>
    <h3>Quantity</h3>
    <h3>Actions</h3>
  </div>

  <% @foods.each do |food| %>
    <%= form_with model: @recipe_food, url: user_recipe_lists_path do |f| %> 
      <div class="rows">
        <h4><%= food.name %></h4>
        <h4><%= food.measurement_unit %></h4>
        <h4><%= food.price %></h4>
        <h4><%= f.number_field :quantity %></h4>
        <%= f.hidden_field :food_id, value: food.id %>
        <h4><%= f.submit 'Add', class: 'delete' %></h4>
      </div>
    <% end %>
  <% end %>
</div>